body {
    background-image: url('image/a.webp'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* Optional: makes the background fixed while scrolling */
  }

  .white {
    color: rgb(249, 33, 33) !important;
  }
  
  h1 {
    color: rgba(152, 142, 140, 0.575);
    font-size: 1.5rem;
    text-align: center;
  }
  
  .row {
    text-align: center;
  }

  .customimage {
    width: 100%;
  }
  
  .ember:before {
    content: "";
    display: inline-block;
    background: url(image/ember.png) no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    vertical-align: middle;
  }
  .ember >.mycard {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
  }

  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .customcard {
    background-color: rgba(126, 238, 238, 0.149);
  }
  
  .customcardselected {
    background-color: rgba(252, 217, 19, 0.901);
  }
  
  .customcardselected > .mycard{
    color: rgb(255, 255, 255);
  }
  
  
  /* CSS */
  .button-40 {
    background-color: #111827;
    width: 100% !important;
    
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: .75rem 1.5rem;
    }
  }
  
  